{% extends "base.html" %}

{% block content %}

    <div>
        <div class="top-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <span><i class="fa fa-phone"></i>1234 - 5678 - 9012</span>
                            <span><i class="fa fa-envelope-o"></i>support@flatbuild.com</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- page-banner-section
            ================================================== -->
        <section class="page-banner-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>About Us</h2>
                    </div>
                    <div class="col-md-6">
                        <ul class="page-depth">
                            <li><a href="/">flatbuild</a></li>
                            <li><a href="{% url 'about' %}">About us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End page-banner section -->

        <!-- about section
            ================================================== -->
        <section class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ STATIC_PREFIX }}upload/others/4.jpg" alt="">
                        <h2>Who we are</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam,	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ STATIC_PREFIX }}upload/others/8.jpg" alt="">
                        <h2>What we do</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam,	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    </div>
                </div>
            </div>
        </section>
        <!-- End about section -->

        <!-- team section
            ================================================== -->
        <section class="team-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-post">
                            <img src="{{ STATIC_PREFIX }}upload/team/1.jpg" alt="">
                            <h2>John Smith</h2>
                            <span>Company Menager</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-post">
                            <img src="{{ STATIC_PREFIX }}upload/team/4.jpg" alt="">
                            <h2>Besim Dauti</h2>
                            <span>Architect</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-post">
                            <img src="{{ STATIC_PREFIX }}upload/team/3.jpg" alt="">
                            <h2>Alex Doe</h2>
                            <span>Project Menager</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-post">
                            <img src="{{ STATIC_PREFIX }}upload/team/5.jpg" alt="">
                            <h2>John Doe</h2>
                            <span>Isolator Man</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-post">
                            <img src="{{ STATIC_PREFIX }}upload/team/2.jpg" alt="">
                            <h2>Kenan Januzi</h2>
                            <span>Head Worker</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-post">
                            <img src="{{ STATIC_PREFIX }}upload/team/6.jpg" alt="">
                            <h2>Hunejs Dauti</h2>
                            <span>Building Worker</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End team section -->

    </div>
{% endblock %}

{% block extra_js %}



{% endblock %}
