{% extends "base.html" %}

{% block content %}

    <div>
        <div class="top-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <span><i class="fa fa-phone"></i>1234 - 5678 - 9012</span>
                            <span><i class="fa fa-envelope-o"></i>support@flatbuild.com</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- map
            ================================================== -->
        <div id="map"></div>
        <!-- map -->

        <!-- contact section
            ================================================== -->
        <section class="contact-section">
            <div class="container">
                <div class="col-md-4">
                    <div class="contact-info">
                        <h2>Contact Info</h2>
                        <p>You can contact or visit us in our office from Monday to Friday from 8:00 - 17:00</p>
                        <ul class="information-list">
                            <li><i class="fa fa-map-marker"></i><span>907 N Randolph street, Arlington County, Virginia, United States</span></li>
                            <li><i class="fa fa-phone"></i><span>+1 703-697-1776</span><span>+1 605-315-8544</span></li>
                            <li><i class="fa fa-envelope-o"></i><a href="#">nunforest@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <form id="contact-form">
                        <h2>Send us a message</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <input name="name" id="name" type="text" placeholder="Name">
                            </div>
                            <div class="col-md-6">
                                <input name="mail" id="mail" type="text" placeholder="Email">
                            </div>
                        </div>
                        <textarea name="comment" id="comment" placeholder="Message"></textarea>
                        <input type="submit" id="submit_contact" value="Send Message">
                        <div id="msg" class="message"></div>
                    </form>
                </div>
            </div>
        </section>
        <!-- End contact section -->

    </div>
{% endblock %}

{% block extra_js %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/gmap3.min.js"></script>

{% endblock %}
