{% extends "base.html" %}

{% block content %}

    <div>

        <div class="top-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <span><i class="fa fa-phone"></i>1234 - 5678 - 9012</span>
                            <span><i class="fa fa-envelope-o"></i>support@flatbuild.com</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- page-banner-section
            ================================================== -->
        <section class="page-banner-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Projects</h2>
                    </div>
                    <div class="col-md-6">
                        <ul class="page-depth">
                            <li><a href="/">flatbuild</a></li>
                            <li><a href="{% url 'projects' %}">Projects</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End page-banner section -->

        <!-- projects-page section
            ================================================== -->
        <section class="projects-page-section">
            <div class="container">
                <ul class="filter">
                    <li><a class="active" href="#" data-filter="*">Show All</a></li>
                    <li><a href="#" data-filter=".buildings">Buildings</a></li>
                    <li><a href="#" data-filter=".interior">Interior</a></li>
                    <li><a href="#" data-filter=".energy">Energy</a></li>
                    <li><a href="#" data-filter=".isolation">Isolation</a></li>
                </ul>
                <div class="project-box iso-call col2">
                    <div class="project-post buildings isolation">
                        <img src="{{ STATIC_PREFIX }}upload/projects/1.jpg" alt="">
                        <div class="hover-box">
                            <h2><a href="single-project.html">Elegant Building</a></h2>
                            <span>bulding, house</span>
                        </div>
                    </div>
                    <div class="project-post interior">
                        <img src="{{ STATIC_PREFIX }}upload/projects/2.jpg" alt="">
                        <div class="hover-box">
                            <h2><a href="single-project.html">Beatiful House</a></h2>
                            <span>bulding, house</span>
                        </div>
                    </div>
                    <div class="project-post buildings isolation">
                        <img src="{{ STATIC_PREFIX }}upload/projects/3.jpg" alt="">
                        <div class="hover-box">
                            <h2><a href="single-project.html">Classic House</a></h2>
                            <span>bulding, house</span>
                        </div>
                    </div>
                    <div class="project-post buildings">
                        <img src="{{ STATIC_PREFIX }}upload/projects/4.jpg" alt="">
                        <div class="hover-box">
                            <h2><a href="single-project.html">Modern and trending house</a></h2>
                            <span>bulding, house</span>
                        </div>
                    </div>
                    <div class="project-post interior isolation">
                        <img src="{{ STATIC_PREFIX }}upload/projects/5.jpg" alt="">
                        <div class="hover-box">
                            <h2><a href="single-project.html">Afarist Building</a></h2>
                            <span>bulding, house</span>
                        </div>
                    </div>
                    <div class="project-post energy">
                        <img src="{{ STATIC_PREFIX }}upload/projects/6.jpg" alt="">
                        <div class="hover-box">
                            <h2><a href="single-project.html">traditional Building</a></h2>
                            <span>bulding, house</span>
                        </div>
                    </div>
                    <div class="project-post buildings">
                        <img src="{{ STATIC_PREFIX }}upload/projects/7.jpg" alt="">
                        <div class="hover-box">
                            <h2><a href="single-project.html">Small house</a></h2>
                            <span>bulding, house</span>
                        </div>
                    </div>
                    <div class="project-post isolation">
                        <img src="{{ STATIC_PREFIX }}upload/projects/8.jpg" alt="">
                        <div class="hover-box">
                            <h2><a href="single-project.html">Large town Buildings</a></h2>
                            <span>bulding, house</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End projects-page section -->
    </div>
{% endblock %}

{% block extra_js %}

{% endblock %}