{% extends "base.html" %}

{% block content %}
    <div>
        <div class="top-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <span><i class="fa fa-phone"></i>1234 - 5678 - 9012</span>
                            <span><i class="fa fa-envelope-o"></i>support@flatbuild.com</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- page-banner-section
            ================================================== -->
        <section class="page-banner-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Building Procedure</h2>
                    </div>
                    <div class="col-md-6">
                        <ul class="page-depth">
                            <li><a href="/">flatbuild</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li><a href="{% url 'single_post' %}">Building Procedure</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End page-banner section -->

        <!-- blog section
            ================================================== -->
        <section class="blog-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="blog-box">

                            <div class="blog-post single-post">
                                <img src="{{ STATIC_PREFIX }}upload/blog/2.jpg" alt="">
                                <div class="post-content-text">
                                    <h1>Building Procedure.</h1>
                                    <span>22 Jannuary 2015</span>
                                    <p>Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu ornare mauris tincidunt vitae.</p>
                                    <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin lacinia. Ut egestas bibendum tempor. Morbi non nibh sit amet ligula blandit ullamcorper in nec risus. Pellentesque fringilla diam faucibus tortor bibendum vulputate. Etiam turpis urna, rhoncus et mattis ut, dapibus eu nunc. Nunc sed aliquet nisi. Nullam ut magna non lacus adipiscing volutpat. Aenean odio mauris, consectetur quis consequat quis, blandit a nunc. Sed orci erat, placerat ac interdum ut, suscipit eu augue. Nunc vitae mi tortor. Ut vel justo quis lectus elementum ullamcorper volutpat vel libero.</p>
                                    <blockquote>
                                        <p>“ Class aptent taciti <span>sociosqu</span> ad litora torquent per conubia nostra, per inceptos himenaeos. <span>Nulla nunc dui</span>, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. ”</p>
                                    </blockquote>
                                    <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin lacinia. Ut egestas bibendum tempor. Morbi non nibh sit amet ligula blandit ullamcorper in nec risus. Pellentesque fringilla diam faucibus tortor bibendum vulputate. Etiam turpis urna, rhoncus et mattis ut, dapibus eu nunc. Nunc sed aliquet nisi. </p>
                                </div>
                            </div>
                            <div class="autor-post">
                                <img src="{{ STATIC_PREFIX }}upload/team/4.jpg" alt="">
                                <div class="autor-content">
                                    <h2>Besim Dauti</h2>
                                    <span>Architect</span>
                                    <p>Quisque ligulas ipsum, euismod vulputate iltricies etri elit. Class aptent taciti sociosqu litora torquent per conubia per himenaeos. Nulla tristique in semper</p>
                                </div>
                            </div>
                            <div class="comment-section">
                                <h2>4 Comments</h2>

                                <ul class="comment-tree">
                                    <li>
                                        <div class="comment-box">
                                            <img alt="" src="{{ STATIC_PREFIX }}upload/team/1.jpg">
                                            <div class="comment-content">
                                                <h4>Kenan Januzi <a href="#">Reply</a></h4>
                                                <span>Jann 23, 2015. 8:30 pm.</span>
                                                <p>Class aptent taciti sociosqu litora torquent per conubia per himenaeos. Nulla tristique in semper vel. Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin lacinia. </p>
                                            </div>
                                        </div>
                                        <ul class="depth">
                                            <li>
                                                <div class="comment-box">
                                                    <img alt="" src="{{ STATIC_PREFIX }}upload/team/2.jpg">
                                                    <div class="comment-content">
                                                        <h4>John Doe <a href="#">Reply</a></h4>
                                                        <span>Jann 23, 2015. 8:38 pm.</span>
                                                        <p>Class aptent taciti sociosqu litora torquent per conubia per himenaeos. Nulla tristique in semper vel. </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="comment-box">
                                            <img alt="" src="{{ STATIC_PREFIX }}upload/team/4.jpg">
                                            <div class="comment-content">
                                                <h4>Besim Dauti <a href="#">Reply</a></h4>
                                                <span>Jann 24, 2015. 8:00 am.</span>
                                                <p>Class aptent taciti sociosqu litora torquent per conubia per himenaeos. Nulla tristique in semper vel. Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin lacinia. </p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                <form class="comment-form">
                                    <h2>Leave a Reply</h2>
                                    <input name="name" id="name" type="text" placeholder="Name (required)">
                                    <input name="mail" id="mail" type="text" placeholder="Email (required)">
                                    <input name="website" id="website" type="text" placeholder="Website">
                                    <textarea name="comment" id="comment" placeholder="Your Message (required)"></textarea>
                                    <input type="submit" id="submit_contact" value="Post Comment">
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="sidebar">

                            <div class="category-widget widget">
                                <h2>Categories</h2>
                                <ul class="category-list">
                                    <li><a href="#">building <span>18</span></a></li>
                                    <li><a href="#">construction <span>06</span></a></li>
                                    <li><a href="#">painting <span>12</span></a></li>
                                    <li><a href="#">isolation <span>15</span></a></li>
                                    <li><a href="#">electricy <span>6</span></a></li>
                                    <li><a href="#">architecture <span>4</span></a></li>
                                </ul>
                            </div>

                            <div class="text-widget widget">
                                <h2>Text Widget</h2>
                                <div class="text-box">
                                    <p>Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                                </div>
                            </div>

                            <div class="archieve-widget widget">
                                <h2>archieve</h2>
                                <ul class="archieve-list">
                                    <li><a href="#">September 2014</a></li>
                                    <li><a href="#">Octomber 2014</a></li>
                                    <li><a href="#">November 2014</a></li>
                                    <li><a href="#">December 2014</a></li>
                                    <li><a href="#">Jannuary 2015</a></li>
                                </ul>
                            </div>

                            <div class="tags-widget widget">
                                <h2>TAG Widget</h2>
                                <ul class="tags-list">
                                    <li><a href="#">Building</a></li>
                                    <li><a href="#">interior</a></li>
                                    <li><a href="#">isolation</a></li>
                                    <li><a href="#">kitchen</a></li>
                                    <li><a href="#">energy</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End blog section -->
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}